<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="https://www.thymeleaf.org"
th:replace="~{fragments/layout :: layout (~{::body},'contacto')}">
<body>

    <h1>Create</h1>
    
    <h4>Contacto</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form th:action="@{/contacto/create/}" th:object="${contacto}" method="post">
                <div class="form-group">
                    <label class="control-label">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" />
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" class="form-control" th:field="*{email}" />
                </div>
                <div class="form-group">
                    <label class="control-label">Teléfono</label>
                    <input type="text" class="form-control" th:field="*{telefono}" />
                </div>
                <div class="form-group">
                    <label class="control-label">Razón</label>
                    <textarea class="form-control" rows="5" th:field="*{razon}"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a th:href="@{/contacto/}">Back to List</a>
    </div>

</body>
</html>