<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="https://www.thymeleaf.org"
th:replace="~{fragments/layout :: layout (~{::body},'calculadora')}">
<body>
    <form th:action="@{/calculadora/}" th:object="${calculadora}" method="get">
        <input type="number" class="form-control" th:field="*{operando1}"/>
        <input type="number" class="form-control" th:field="*{operando2}"/>
        <select class="form-control" th:field="*{operador}">
            <option value="">- Seleccione -</option>
            <option value="+">Suma</option>
            <option value="-">Resta</option>
        </select>
        <input class="btn btn-primary" type="submit" value="Calcular"/>
    </form>

    <p th:text="${resultado}"></p>

</body>
</html>