<!DOCTYPE html>
<html th:fragment="layout (template, menu)">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${title} + ' - Facilito'"></title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min-jsf.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap-jsf.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" />
  <link th:rel="stylesheet" th:href="@{/resources/css/w3.css}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/calculadora/}">Calculadora</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/contacto/}">Contacto</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" th:href="@{/catalogo/}">Catalogo</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <th:block th:if="${session.usuario==null}">
              <li class="nav-item"><a class="nav-link text-dark" href="/cliente/create"><span class="glyphicon glyphicon-user"></span>Registrarse</a></li>
              <li class="nav-item"><a class="nav-link text-dark" href="/usuario/login"><span class="glyphicon glyphicon-log-in"></span>Iniciar Sesión</a></li>
            </th:block>   
            <th:block th:if="${session.usuario!=null}">
              <li class="nav-item"><a class="nav-link text-dark" style="cursor:pointer;" onclick="cerrarSesion();"><span class="glyphicon glyphicon-log-in"></span>Cerrar Sesión</a></li>
              <a id="btn-cerrar-sesion" href="/usuario/logout" hidden></a>
            </th:block>                     
          </ul>                
        </div>
    </nav> 
    
    <div class="container">
      <main role="main" class="pb-3">
  
        <th:block th:include="${template}" />
  
      </main>
    </div>

    <footer class="border-top footer text-muted">
      <div class="container">
        <div class="col-12 text-center">
          Copyright @ 2022 Facilito App
        </div>
      </div>
    </footer>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script> 
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

      function cerrarSesion(){
        Swal.fire({
          title: '¿Desea cerrar su sesión?',
          showCancelButton: true,
          confirmButtonText: 'Sí',
          cancelButtonText: 'Cancelar',
        }).then((result) => {
          if (result.isConfirmed) {
            document.getElementById('btn-cerrar-sesion').click();
          }
        });
      }

    </script>

  </body>
  
  </html>